{{ define "main" }}

    {{- partial "breadcrumbs.html" . -}}
    <section class="find-job job-list section">
      <div class="container">
        <div class="single-head resume-inner">
          <div class="row">
            {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}

            {{ range $paginator.Pages }}
                {{ .Render "streamer" }}
            {{ end }}

            {{ partial "paginator.html" $paginator }}
          </div>
        </div>
      </div>
    </section>




{{ end }}
