<div class="col-lg-6 col-12">

  <div class="single-news wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
    <div class="image">
      <img class="thumb" src="{{ .Params.img }}" alt="{{ .Params.Title }}" title="{{ .Params.Title }}">
    </div>
    <div class="content-body">
      <h4 class="title"><a href="{{ .RelPermalink }}">{{ .Params.Title }}</a></h4>
      <p>{{ .Summary }}</p>
      <div class="button">
      <a href="{{ .RelPermalink }}" class="btn col-12">Leer</a>
      </div>
    </div>
  </div>

</div>
