{{ define "main" }}

  {{- partial "breadcrumbs.html" . -}}

  <section class="ob-details section latest-news-area blog-list">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-12">

          <div class="inner-content">
            <div class="job-details-inner">
              {{ .Content }}
            </div>
          </div>

        </div>
        {{- partial "lateralbar.html" . -}}
      </div>
    </div>
  </section>

{{ end }}
