<div class="breadcrumbs overlay" style="background-image: url({{ .Params.img }})">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-content">
          <h1 class="page-title">{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
