<!-- Start Footer Area -->
<footer class="footer">
    <!-- Start Middle Top -->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="f-about single-footer text-center">
                        <div class="logo">
                            <a href="index.html"><img src="/img/logo.svg" alt="Logo"></a>
                        </div>
                        <p>Una comunidad que apuesta al gaming en GNU/Linux y pone todo su amor a disponibilidad de todos los miembros.</p>
                        <ul class="contact-address">

                        </ul>
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.youtube.com/channel/UCT1ppN3DO_3gky1Z30jhIbg"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="https://steamcommunity.com/groups/LegionLinuxGamers"><i class="fa fa-steam"></i></a></li>
                                <li><a href="https://discord.com/invite/n8XtgN3"><i class="fa fa-discord"></i></a></li>
                                <li><a href="https://t.me/legionlinuxgamer"><i class="fa fa-paper-plane"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-8 col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link text-center">
                                <h3>Pide a la comunidad</h3>
                                <ul>
                                    <li><a href="https://gitlab.com/legionlinuxgamers/web/-/blob/master/SOLICITARJUEGO.md">Pedir gameserver</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link text-center">
                                <h3>Unete a la comunidad</h3>
                                <ul>
                                    <li><a href="https://gitlab.com/legionlinuxgamers/web/-/blob/master/SUMARCOMUNIDAD.md">Unir mi comunidad</a></li>
                                    <li><a href="https://gitlab.com/legionlinuxgamers/web/-/blob/master/SUMARSTREAMER.md">Unirme como Streamer</a></li>
                                    <li><a href="https://t.me/legionlinuxgamer">Unirme como administrador de servidores</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer newsletter text-center">
                                <h3>Equipo de Desarrollo</h3>
                                <p>Se agradece al equipo de <a href="https://lynx.net.ar/" target="_blank">Lynx Software Design</a> por la colaboracion activa con el sitio web</p>
                                <a href="https://lynx.net.ar/" target="_blank">
                                  <img
                                    class="img-fluid"
                                    src="https://lynx.net.ar/assets/img/logo.svg"
                                    style="margin-top: 40px; max-width: 200px;"
                                    alt="lynx"
                                    title="Lynx" />
                                </a>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Middle -->
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
      <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="left">
                        <p>Desarrollo a cargo de<a href="https://patojad.com.ar/" rel="nofollow" target="_blank">PatoJAD</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="right">
                        <ul>
                            <li><a href="/privacidad/">Privacy Policy</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="https://t.me/legionlinuxgamer">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- End Footer Middle -->
</footer>
<!--/ End Footer Area -->

{{- partial "search.html" . -}}

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
    <i class="fa fa-arrow-up"></i>
</a>
<a href="#" onclick="changeTheme()" class="theme-button btn-hover" id="theme-changer">
</a>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js">
</script>
<script src="/js/search.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/glightbox.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/changetheme.js"></script>
