<div class="widget categories-widget">
  <h5 class="widget-title"><span>Estadisticas</span></h5>
  <ul class="custom">
    <li>
      <a href="#">Servidores<span>{{ len (where .Site.RegularPages "Section" "==" "servers") }}</span></a>
    </li>
    <li>
      <a href="#">Streamers<span>{{ len (where .Site.RegularPages "Section" "==" "streamers") }}</span></a>
    </li>
    <li>
      <a href="#">Articulos<span>{{ len (where .Site.RegularPages "Section" "==" "blog") }}</span></a>
    </li>
  </ul>
</div>
