:root{
  --site-color: #FD7E14;

  /*
  --background: #333;
  --background-2 : #111;
  --border: #222;
  --text-color: #FFF;
  --text-color-2: #BBB;
  */
  --background: #FFF;
  --background-2 : #F6F9FC;
  --border: #eee;
  --text-color: #081828;
  --text-color-2: #7E8890;
}
