<div class="client-logo-section" style="background: var(--background)">
  <div class="container text-center">
    <h2 style="margin-bottom: 50px;">Nuestros Juegos</h2>
    <div class="client-logo-wrapper">
      <div class="client-logo-carousel d-flex align-items-center justify-content-between">

        {{ range .Site.RegularPages.ByDate.Reverse }}
          {{ if eq .Section  "servers" }}
            <div class="client-logo">
              <img
                src="{{ .Params.logo }}"
                class="img-fluid"
                style="max-width: 200px;"
                alt="{{ .Params.Title }}"
                title="{{ .Params.Title }}" />
            </div>
          {{ end }}
        {{ end }}

      </div>
    </div>
  </div>
</div>
