<section class="apply-process section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-12">
        <div class="process-item">
          <i class="fa fa-linux"></i>
          <h4>Instala GNU/Linux</h4>
          <p>Instala tu distro de linux, no es obligatorio pero es mas lindo en casa.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12">
        <div class="process-item">
          <i class="fa fa-discord"></i>
          <h4>Unete a nuestra Comunidad</h4>
          <p>Jugar es divertido, con amigos mas y si ademas charlamos... Sumate ya!</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12">
        <div class="process-item">
          <i class="fa fa-gamepad"></i>
          <h4>Divertite</h4>
          <p>Busca entre nuestros servidores el juego que mas te guste y sumate.</p>
        </div>
      </div>
    </div>
  </div>
</section>
