<section class="find-job section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
            Servers
          </span>
          <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            Servidores de la comunidad
          </h2>
          <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
            La comunidad pone a disponibilidad de todos sus miembros servidores para poder dirvertirnos juntos
          </p>
        </div>
      </div>
    </div>

    <div class="single-head">
      <div class="row">

        {{ range first 2 (where .Site.RegularPages.ByDate.Reverse "Section" "servers") }}
          {{ .Render "server" }}
        {{ end }}

      </div>

      <div class="row text-center">
        <div class="col-12">
          <div class="pagination center wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <a class="btn btn-primary" href="/servers/">Ver Todos</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
