<div class="job-details-head row mx-0">
  <div class="company-logo col-auto">
    <img class="img-fluid" style="max-width: 100px;" src="{{ $.Page.Params.logo }}" alt="{{ $.Page.Params.Title }}" />
  </div>
  <div class="salary-type col-auto order-sm-3">
    <span class="salary-range">
    </span>
    <span class="badge badge-success">
      <i class="fa fa-users" aria-hidden="true"></i>
      <strong id="ServerCapacidad">Max</strong>
    </span>
  </div>
  <div class="content col">
    <h5 class="title" id="ServerName">{{ $.Page.Params.Title }}</h5>
    <ul class="meta">
      <li id="ServerIP">{{ $.Page.Params.ip }}:{{ $.Page.Params.port }}</li>
    </ul>
  </div>
</div>
<div class="job-details-body">
  <h6 class="mb-3">{{ $.Page.Params.Title }}</h6>
  <p>{{ $.Page.Params.resumen }}</p>
  <p class="text-center">
    <img src="{{ $.Page.Params.img }}" class="img-fluid rounded" alt="juego" title="imagen del juego" />
  </p>

  <h6 class="mb-3 mt-4">Requisitos</h6>
  <ul>
    {{ range $.Page.Params.requisitos }}
      <li>{{ . }}</li>
    {{ end }}
  </ul>
</div>
