<script type="text/javascript">
  const Http = new XMLHttpRequest();

  const url='https://patojad.mooo.com:3030/status/{{ $.Page.Params.code }}/{{ $.Page.Params.ip }}/{{ $.Page.Params.port }}';
  Http.open("GET", url);
  Http.send();

  Http.onreadystatechange = (e) => {
    let data = JSON.parse(Http.responseText);
    console.log(data);
    setStatusServer(data);
    setDataServer(data.data);
  }

  function setStatusServer(data){
    const htmlStatus = document.getElementById("serverStatus");
    if (data.status == "online") {
      htmlStatus.innerHTML = `<p style="color:green;">Online<p>`;
    } else {
      htmlStatus.innerHTML = `<p style="color:red;">Offline<p>`;
    }
  }

  function setDataServer(data){
    const serverName = document.getElementById("ServerName");
    const serverMap = document.getElementById("ServerMap");
    const serverCapacidad = document.getElementById("ServerCapacidad");
    const serverIP = document.getElementById("ServerIP");
    const serverPlayers = document.getElementById("ServerPlayers");

    let aux = '';

    if (data.players.length > 0) {
      aux = aux.concat(`<h6 class="mb-3 mt-4">Usuarios Online</h6><ul>`)

      data.players.forEach(function(player) {
        aux = aux.concat(`<li>${player.name}</li>`)
      });
      aux = aux.concat(`</ul>`)
    }

    serverPlayers.innerHTML = aux;
    serverName.innerHTML = data.name || "{{ $.Page.Title }}";
    serverMap.innerHTML = data.map || "";
    serverCapacidad.innerHTML = data.maxplayers || "";
    serverIP.innerHTML = data.connect || "";
  }
</script>
